/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29 mars 2020, 16:44:06
    Author     : wills
*/
.AutoCompressField{
    -fx-background-color: white;
}
.scroll-pane{
    -fx-background:white;
    -fx-border-color:white;
}
.scroll-pane2{
    -fx-background: #F1F4F9;
    -fx-border-color: #F1F4F9;
}